
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;    
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153667, #4e085f);
    padding: 10px;
    padding: 100px 0px;
}

.todo-app{
    background-color: white;
    margin: auto;
    width: 750px;
    padding: 30px 20px;
    border-radius: 20px;
}

.todo-app img{
    height: 70px;
    width: 70px;
}

.todo-app h1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 35px;
    color: #f09d04;
    width: 40%;
    margin: auto;
    font-weight: 800;
}

.input-container{
    width: 80%;
    display: flex;
    background-color: #e2e0e0;
    margin: auto;
    padding: 0px 0px 0px 20px;
    border-radius: 25px;
}

.input-container input{
    width: 80%;
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;
}
.input-container button{
    font-size: 20px;
    width: 20%;
    background-color: orangered;
    padding: 10px 0px 10px 15px;
    color: white;
    outline: none;
    border: none;
    border-radius: 25px;
}

.task-container{
    padding: 20px 10px;
    padding: 20px 10px;
    margin-top: 20px;
    width: 80%;
    margin: auto;
}

.task-container li{
    position: relative;
    list-style: none;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px 0px 10px 25px;
    user-select: none;
    cursor: pointer;
}

.task-container li::before{
    position: absolute;
    content: '';
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 0;
    top: 14px;
    height: 20px;
    width: 20px;
}

.checked{
    color: #696969;
    text-decoration: line-through;
}

.task-container .checked::before{
    background: url(images/checked.png)center/cover;
}

li span{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 30px;
    color: gray;
    margin: auto;
    width: 30px;
    height: 30px;
    padding-left: 7px;
    padding-bottom: 9.5px;
}

li span:hover{
    background: #e2e0e0;
    border-radius: 50%;
}

.edit-button{
    position: absolute;
    right: 50px;
    bottom: 8px;
    width: 80px;
    height: 30px;
    font-size: 18px;
    background: #e2e0e0;
    border: none;
    border-radius: 20px;
}